.about-hero {
z-index:-1;
height: 100vh;
background: no-repeat center bottom;
background-size: cover,cover;
display:flex;
justify-content: center;
align-items: center;
}
.entry-title {
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%) cover cover;

}
.hero-wrap {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%);

}
.about-content {

  margin: 3rem auto;
  text-align: center;
  max-width: 800px;
  p {
    line-height: 1.75;
    font-size: 1rem;
    text-align: left;
  }
  .title {
      text-transform: uppercase;
      font-family: 'novecento', sans-serif;

  }
}
.entry-title-about {
  text-transform: uppercase;
  font-family: 'novecento', sans-serif;
  font-size: 3rem;
}
