.about-hero {
z-index:-1;
height: 100vh;
background: no-repeat center bottom;
background-size: cover,cover;
display:flex;
justify-content: center;
align-items: center;
}
.entry-title {
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%) cover cover;

}
.hero-wrap {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%);

}
.about-content {

  width: 800px;
  margin: 0 auto;
  text-align: center;
}
