/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/*********************journals *****************/
.site-content {
	display: flex;
	width: 1120px;
	padding-top: 50px;
	margin-right: auto;
	margin-left: auto;
}
.content-area {
	width: 70%;
	padding: 3rem;
	border-right: 1px solid #e1e1e1;
}
.hentry {
	margin-bottom: 4.5rem;
}
