.site-footer {
  background: url(../../images/dark-wood.png);
}
.footer-info {
display:flex;
}
.footer-item {
  margin: 3rem 0;
  width: 25%;
  margin-right: 1.5rem;
  p {
    color: white;
  }
}
.days-info {
font-weight: 700;
}
.footer-item {
  flex: 0 2 50%;
margin: 3rem 0;
h3 {
  color: #d99054;
  text-transform: uppercase;
  font-family: 'novecento', sans-serif;
}
p {
    font-family: 'merriweather', serif;

}
}
.site-info {
  text-align: center;
  text-transform: uppercase;
  p{
  padding: 1.5rem 0;
  bottom: 1.5rem;
  color: white;
  margin-bottom:0;
  font-family: 'novecento';
}
}
.footer-logo {
a{
display:flex;
justify-content: flex-end;
img{
  width: 75%;
}
}
} 


.fa {
  margin-right: .5rem;
}
.contact-info p a{
  color:white;
  &:visited{
    color:white;
  }
  &:hover{
    text-decoration: underline;
  }
}
