/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.widget-area {
	width: 30%;
	padding-left: 3rem;
	padding: 3rem;
	p {
		display: flex;
	}
	i {
		margin-right: 10px;

	}
}

.widget-title {
	text-align: left;
	margin-bottom: 1.5rem;
	font-size: 1.5rem;
	text-transform: uppercase;
}


.widget {
	margin-bottom: 4rem;
	a {
		color: #248a83;
	}
	ul {
		padding-left: 0;
		margin-left: 0;
	}
}
.day-of-week {
	font-weight: 700;
}
a {

	text-decoration: none;
}
